# ROS 2 build artifacts
build/
install/
log/

# VS Code specific
.vscode/*.db
.vscode/*.db-wal
.vscode/*.db-shm

# Python artifacts
__pycache__/
*.pyc

# Local system files
.DS_Store

# VS Code C/C++ Extension caches
.vscode/browse.vc.db
.vscode/browse.vc.db-shm
.vscode/browse.vc.db-wal
.vscode/browse.vc.db*


# Simulation local log outputs
sim_output.log